<article>
<header>
<h1><a href="/presentations">Presentations</a> → <%=h @title %></h1>
<small>Length: <strong><%= @minutes %> minutes.</strong> Date recorded: <%= @month %></small>
</header>
<p><strong><%= @subhead %></strong></p>

<%= @body %>

<footer>
© <%= @year %> <a href="/">Derek Sivers</a>
</footer>
</article>
